.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.whiskey-list{
  width:50%;
  float:left;
}
.vote-section {
  width:50%;
  float:right;
  /* margin-top:5%; */
}
#whiskey-name{
  float:left
}
#display-vote{
  /* float:right */
  margin-left: 140px;
}

td {
  width: 100px;
  text-align:left;
  border-color: black;
  border-width: 1px;
}
.detailsButton {
  float :right;
}